/*-----------RESPONSIVE-------------*/
/*-----------Tamaño iPad Pro------------*/
@media screen and (max-width: 1024px) {
    body{
        width: 100%;
    }
    .espanyol, .portugues{
        right: 22%;
    }
    
}

/*-----------Tamaño iPad------------*/
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1.25em;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0;
    }
    iframe{
        width: 100%;
    }
    .enlaces{
        text-align: center;
    }
    
}

/*-----------Tamaño Galaxy S5------------*/
@media screen and (max-width: 360px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1.25em;
    }
    .nombre img{
        width: 40%;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0%;
    }
    .enlaces{
        text-align: center;
    }
    .enlaces, footer{
        font-size: 70%;
    }
    
}

/*------------------------------------*/

section{
    margin: 1em;
}

form{
    width: 50%;
    float: left;
}

form input, form textarea{
    width:90%;
}

map{
    width: 50%;
    float: right;
}

map p{
    font-size: 70%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}