@import url('https://fonts.googleapis.com/css2? familia=Montserrat&display=swap');

body{
    width: 1024px;
    height: 768px;
    padding: 0;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

header, footer, .carrusel h2, .pan, .pastel, .bollos, .empanadas{
    display: flex;
    justify-content: center;
    background-color: #FFE3AA;
    color: #236467;
    font-weight: bold;
    width: 100%;
}
.menu, .contacto{
    background-color: #FFE3AA;
    font-weight: bold;
    color: #236467;
    height: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 16px;
    border: none;
}

.contacto{
    position: absolute;
    top: 0;
    right: 0;
}

/*---------MODIFICACIÓN DEL BOTÓN MENÚ---------*/
.botonMenu{
    position: relative;
    display: inline-block;
    width: 100%;
}

.mContenido{
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
        /*Esconder menú deplegable*/
        display: none;
        /*------------------------*/
    position: absolute;
    background-color: #FFE3AA;
    z-index: 1;
}

.mContenido a{
    color: #236467;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.mContenido a:hover{
    background-color: #ddd;
}

.botonMenu:hover .mContenido{
    display: block;
}

.botonMenu:hover .menu{
    background-color: #ddd;
}

/*---------------------------------------------*/

.nombre{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
}

.nombre img{
    width: 20%;
    top: 0;
}

.espanyol, .portugues{
    right: 10%;
    position: absolute;
    background-color: #FFE3AA;
    color: #236467;
}

.espanyol{
    top: 1.75em;
}

.portugues{
    top: 3.75em;
}

.migas, .categoria, .cFooter{
    width: 30%;
    padding: 1em;
    position: relative;
}

.categoria, .cFooter{
    border-left: solid 0.1em black;
}

.enlaces{
    display: flex;
    justify-content: center;
    background-color: #FFE3AA;
    color: #236467;
    width: 100%;
    margin: 0;
    padding-top: 1em;
}

section{
    background-color: #FFEECC;
    color: #236467;
}