/*-----------RESPONSIVE-------------*/
/*-----------Tamaño iPad Pro------------*/
@media screen and (max-width: 1024px) {
    body{
        width: 100%;
    }
    .espanyol, .portugues{
        right: 22%;
    }
    
}

/*-----------Tamaño iPad------------*/
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1em;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0;
    }
    .enlaces{
        text-align: center;
    }
    
}

/*-----------Tamaño Galaxy S5------------*/
@media screen and (max-width: 360px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1em;
    }
    .nombre img{
        width: 40%;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0%;
    }
    .enlaces{
        text-align: center;
    }
    .enlaces, footer{
        font-size: 70%;
    }
    
}

/*------------------------------------*/

.pan img{
    width: 200%;
}

section img{
    width: 10em;
    height: 10em;
}

.listado article{
    width: 10em;
    margin: 2em;
    text-align: justify;
}

.carrusel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrusel article, .carrusel img{
    width: 45%;
    margin: 1em;
}

.carrusel article{
    float: left;
}

.carrusel img{
    float: right;
    height: 30%;
}

h1, .carrusel p{
    display: flex;
    justify-content: center;
    text-align: justify;
}

h1{
    font-size: 200%;
    background-color: #FFE3AA;
    font-weight: bold;
}

.listado{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pan img{
    width: 30%;
    height: 30%;
}