/*-----------RESPONSIVE-------------*/
/*-----------Tamaño iPad Pro------------*/
@media screen and (max-width: 1024px) {
    body{
        width: 100%;
    }
    .espanyol, .portugues{
        right: 22%;
    }
    
}

/*-----------Tamaño iPad------------*/
@media screen and (max-width: 768px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1.25em;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0;
    }
    .enlaces{
        text-align: center;
    }
    
}

/*-----------Tamaño Galaxy S5------------*/
@media screen and (max-width: 360px) {
    body{
        width: 100%;
    }
    header{
        margin-bottom: 1.25em;
    }
    .nombre img{
        width: 40%;
    }
    .espanyol, .portugues{
        width: 50%;
        top: 4em;
    }
    .espanyol{
        right: 50%;
    }
    .portugues{
        right: 0%;
    }
    .enlaces{
        text-align: center;
    }
    .enlaces, footer{
        font-size: 70%;
    }
    
}

/*------------------------------------*/

section img{
    width: 20em;
    height: 20em;
}

article{
    width: 20em;
    margin: 2em;
    text-align: justify;
}

.listado{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.empanadas img{
    width: 30%;
    height: 30%;
}